.main-title {
  font-family: 'bebas';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  font-size: 32px;
}

.main-title-letter {
  display: block;
}

.main-title-letter:nth-child(2n) {
  margin-left: 1em;
}