.footer {
  position: absolute;
  bottom: 35px;
  right: 35px;
  font-size: 12px;
}

.footer:before {
  content: '';
  width: 2px;
  position: absolute;
  left: 42px;
  top: 5px;
  bottom: 2px;
  background-color: #000;
  display: block;
}

.footer-locations {
  display: inline-block;
  padding-right: 5px;
  width: 40px;
  text-align: center;
}

.footer-contact {
  display: inline-block;
  margin-left: 5px;
}